
<div class='md-padding' layout="row" layout-wrap>
        
                <mat-card style="width: 250px" *ngFor="let item of barbeques">
                    <img mat-card-image src="assets/images/image1.jpeg">
                    <mat-card-header style="justify-content: center">
                        <mat-card-title>
                            <h3 class="m-0">{{item.name}}</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Model: {{item.model}}</p>
                        <p>
                            {{item.description}}
                        </p>
                        <p> zipcode: {{item.zipcode}}</p>
                    </mat-card-content>
        
                    <mat-card-actions>
                        <button mat-raised-button color="primary" *ngIf="item.rented==0" (click)='rent(item.id)'>
                           Rentar
                        </button>
                        <div *ngFor="let barbequeR of rentedBarbeques">
                            <button mat-raised-button color="warn" *ngIf="item.rented==1 && item.id==barbequeR.id" (click)='return(item.id)'>
                            Retornar
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
      </div>

