<div class="register-page">
    
    <div class="content">
        
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form class="register-form" [formGroup]="registerForm">
              
            <div class="text-center">
                <h2 class="app-name">Registro</h2>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Nombre" formControlName="name">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" formControlName="password" >
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput type="password" placeholder="Password confirmation" formControlName="password_confirmation" >
                        </mat-form-field>
                    </div>
                </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Zipcode" formControlName="zipcode">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onClick($event)">Registrar</button>
                </div>
            </div>
            <br>
            <div fxFlexFill >   
                    <button mat-button class="right" (click)="redirect($event)">Login</button>
                </div>
        </form>
    </div>
</div>
